{% extends 'common/base.html' %}
{% load staticfiles %}

{% block headend %}
<link rel="stylesheet" href="/static/common/js/ang_dt/css/datetimepicker.css"/>
<link rel="stylesheet" href="{% static 'common/style/ang_map.css' %}"/>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
{% endblock %}

{% block scriptstart %}
<script src="/static/common/js/ext/jquery-1.10.2.min.js"></script>
<script src="/static/common/js/ext/angular.min.js"></script>
<script src="/static/common/js/ang/services/myutils.js"></script>
<script src="/static/common/js/ang/services/myhttp.js"></script>
<script src="/static/common/js/ang/services/myleaflet.js"></script>
<script src="/static/common/js/ang/filters/filters.js"></script>
<script src="/static/common/js/ang/directives/directives.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
<script src="/static/common/js/ang_lf/angular-leaflet-directive.js"></script>
<script src="/static/common/js/ext/moment.min.js"></script>
<script src="/static/common/js/ang_dt/js/datetimepicker.js"></script>
<script src="/static/analysis/js/app/live_trains.js"></script>
{% endblock %}

{% block content %}
<div id="main-body">
	<div class="container-fluid" ng-app="live_trains">
		<div ng-controller="LiveTrainsController" ng-include="'/static/analysis/tpls/live_trains_tpl.html'"></div>
	</div>
</div>

{% endblock %}
