{% extends 'common/base.html' %}
{% load staticfiles %}

{% block headend %}
<link rel="stylesheet" href="{% static 'common/style/ot_map.css' %}">
<link rel="stylesheet" href="/static/common/js/ang_dt/css/datetimepicker.css"/>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
{% endblock %}

{% block scriptstart %}
<script src="/static/common/js/ext/angular.min.js"></script>
<script src="/static/common/js/ang/services/myhttp.js"></script>
<script src="/static/common/js/ang/filters/filters.js"></script>
<script src="/static/common/js/ang/directives/directives.js"></script>
<script src="/static/analysis/js/app/app.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
<script src="/static/common/js/ext/moment.min.js"></script>
<script src="/static/common/js/ang_dt/js/datetimepicker.js"></script>
<script src="{% static 'common/js/ot_map_utils.js' %}"></script>
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container" ng-app="show_reports">
	<div ng-controller="ShowReportsController" ng-include="'/static/analysis/tpls/show_reports_tpl.html'">	
	</div>
</div>

{% endblock %}
