{% extends 'common/base.html' %}
{% block content %}
{{ form.media }}
<div class="container">
	<h2>{{title}}</h2>
	<form method="post" role="form" action="{% url url_name %}">
		<table>
			{% for field in form %}
			<tr><td>{{field.label_tag}}</td><td>{{ field }}</td></tr>
			{% endfor %}
		</table>
		{% csrf_token %}
		<button type="submit" class="btn btn-success btn-sm">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</form>
	{% include "gtfs/search_results.html" %}
</div>

{% endblock %}



