{% include "common/page_top.html" %}
{{ form.media }}
<div class="container">
	<h2>Search Between</h2>
	<form method="post" role="form" action="{% url 'gtfs:search-between' %}">
		<table>
			<tr><td>From:</td><td>{{form.from_station}}</td></tr>
			<tr><td>To:</td><td>{{form.to_station}}</td></tr>
			<tr><td>When:</td><td>{{form.when}}</td></tr>
		</table>
		{% csrf_token %}
		<button type="submit" class="btn btn-success btn-sm">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</form>
	{% include "gtfs/search_results.html" %}
</div>

{% include "common/page_bottom.html" %}

