<div class="row">
	<div class="col-md-4">
		<h2>Current Trips</h2>
		<h4>Work in progress</h4>
		<div ng-hide="initialDone">
			<div class="progress progress-striped active">
				<div class="progress-bar"  role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
					<span class="sr-only">Complete</span>
				</div>
			</div>
		</div>
		<button class="btn" ng-click="showReportedOnly()">Only Reported Trips</button>
		<button class="btn" ng-click="showHideAll(true)">Show All</button>
		<button class="btn" ng-click="showHideAll(false)">Hide All</button>
		<hr/>
		<div ng-repeat="(tripId,tripData) in tripDatas">
			<input type="checkbox" ng-change="showTripsChange()"  ng-model="input.showTrips[tripId]">
			<span ng-hide="input.showDetails[tripId]" ng-click="input.showDetails[tripId] = true" class="glyphicon glyphicon-expand"></span>
			<span ng-show="input.showDetails[tripId]" ng-click="input.showDetails[tripId] = false" class="glyphicon glyphicon-collapse-up"></span>
			{{tripId}} {{tripData.stop_times[0].stop.stop_name}} <span class="glyphicon glyphicon-arrow-right"></span>
			{{tripData.stop_times[tripData.stop_times.length-1].stop.stop_name}}
			<div ng-show="input.showDetails[tripId]">
				<table class="table table-striped">
				<tr>
					<th>Seq</th>
					<th>Stop</th>
					<th>Arrival</th>
					<th>Departure</th>
				</tr>
				<tr ng-repeat="stop_time in tripData.stop_times">
					<td>
						{{stop_time.stop_sequence}}
					</td>
					<td>
						{{stop_time.stop.stop_name}}
					</td>
					<td>
						 {{stop_time.arrival_time | denormalTime}}&nbsp;&nbsp;
					</td>
					<td>
						 {{stop_time.departure_time | denormalTime}}
					</td>	
				</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div>
			<leaflet id="my-leaflet" width="800" height="600"></leaflet>
		</div>
	</div>
</div>

